---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header/Header.tsx";
import Footer from "../components/Footer.astro";
import SegmentedControl from "../components/SegmentedControl/SegmentedControl";
import MerchantTable from "../components/MerchantTable/MerchantTable";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { createClient } from "@supabase/supabase-js";
import { getImage } from "astro:assets";
// Create a server-side Supabase client
const supabase = createClient(
    import.meta.env.SUPABASE_URL,
    import.meta.env.SUPABASE_SERVICE_KEY,
);

// Fetch data at build time
const { data: merchants, error } = await supabase.from("merchants").select("*");
if (error) console.error("Error fetching users:", error.message);
/*
merchants.forEach(async (merchant) => {
    merchant.image_url = merchant.image_url.replace(
        "https://wlp.tcb-cdn.com/images/suppliers/large-logos/",
        "/images/logos/",
    );
    merchant.image_url = merchant.image_url.replace(".png", ".webp");
});
*/

console.log(merchants);

// Get the top 3 merchants
function compare(a, b) {
    if (a.cashback < b.cashback) {
        return 1;
    }
    if (a.cashback > b.cashback) {
        return -1;
    }
    return 0;
}

const top3 = merchants.sort(compare).slice(0, 3);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header client:load />
        <main>
            <section>
                <SegmentedControl options={["Prosent", "Kroner"]} client:load />
                <MerchantTable merchants={top3} client:load />
            </section>
        </main>
        <Footer />
    </body>
</html>

<style>
    main {
        min-height: 100vh;
    }

    .todays {
        padding: 1em;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }

    .card {
        text-align: center;
        padding: 0 1em;
        min-width: 150px;
    }

    img {
        mix-blend-mode: multiply;
        max-width: 100px;
    }
</style>
